// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Обнуление

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Основные стили
body {
    @media screen and (min-width: 720px) {
    margin-left: 30%;
    width: 40%;
    border-left: 3px solid $cmc_light;
    border-right: 3px solid $cmc_light;
    }
    @media screen and (max-width: 720px) {
    }
}
#app_enter {
        a {
            text-decoration: none;
        }
        #ourchat {
            margin-left: 1%;
            font-family: 'Nunito';
            color: $cmc;
            font-weight: bold;
        }
        #enter {
            float: right;
            font-size: smaller;
            border-radius: 5px;
            color: $cmc;
            margin-right: 1%;
        }
        #enter:hover{
            transition: all 0.5s;
            border: 1px solid $cmc_light;
        }
        padding-top: 1%;
        padding-bottom: 1%;
        border-bottom: 1px solid $cmc_light;
}

#form-login {
    width: 100%;
    height: auto;
    @media screen and (min-width: 720px)
    {
        #action {
            font-family: 'Nurito';
            user-select: none;
            margin-top: 3%;
            margin-bottom: 2%;
            text-align: center;
            font-size: 1.3em;
        }
        form {
            display: block;
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
        .label {
            margin-left: 11%;
            font-family: 'Nurito';
            font-size: 0.7em;
            user-select: none;
        }
    
        .form_input {
            padding: 2%;
            margin-left: 11%;
            margin-bottom: 1%;
            width: 80%;
            border: 1px solid $cmc;
            border-radius: 5px;
        }
    
        .btn_enter {
            margin-top: 2%;
            margin-left: 25%;
            width: 210px;
            height: 40px;
            color: $cmc;
            border: 1px solid $cmc;
            border-radius: 5px;
            font-family: 'Nurito';
            font-size: large;
    
        }
        .btn_enter:hover {
            color: $cmc_light;
            background-color: $cmc;
            transition: all 0.1s;
        }
        #remember {
            font-size: 0.7em;
            padding: 2%;
        }
        .reset_password {
            margin-top: 5%;
            margin-right: 3%;
            font-size: 0.7em;
            color: $cmc;
            float: right;
            text-decoration: none;
        }
    };
    @media screen and (max-width: 720px)
    {
        #action {
            user-select: none;
            margin-top: 40%;
            margin-bottom: 2%;
            text-align: center;
            font-size: 2em;
            font-family: serif;
        }
        form {
            display: block;
            width: 100%;
        }
        .label {
            margin-left: 11%;
            font-family: 'Nurito';
            font-size: 0.7em;
            user-select: none;
        }
    
        .form_input {
            padding: 2%;
            margin-left: 11%;
            margin-bottom: 1%;
            width: 80%;
            border: 1px solid $cmc;
            border-radius: 5px;
        }
    
        .btn_enter {
            margin-top: 2%;
            margin-left: 25%;
            width: 210px;
            height: 40px;
            color: $cmc;
            border: 1px solid $cmc;
            border-radius: 5px;
            font-size: large;
            font-family: 'Nurito';
    
        }
        .btn_enter:hover {
            color: $cmc_light;
            background-color: $cmc;
            transition: all 0.2s;
        }
        #remember {
            font-size: 0.7em;
            padding: 2%;
        }
        .reset_password {
            margin-top: 5%;
            margin-right: 3%;
            font-size: 0.7em;
            color: $cmc;
            float: right;
            text-decoration: none;
        }
    };
}

#show_profile {
    font-family: 'Nurito';
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (min-width: 720px) {
        width: 100%;
        height: 100%;
        background: $cmc;
        grid-auto-rows: minmax(100px, auto);
        #image {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            img {
                user-select: none;
                width: 100%;
                border-bottom-right-radius: 5px;
            }
        }
        #name {
            ::before{
                content: 'Имя: ';
                font-size: 0.5em;
                color: silver;
            }
            grid-column-start: 3;
            grid-column-end: 5;
            color: aliceblue;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .indicators {
            font-size: 0.7em;
            color: aliceblue;
            margin-left: 5%;
            grid-column-start: 3;
            grid-column-end: 5;
        }
        #bio {
            ::before{
                content: 'Био: ';
                font-size: 0.5em;
                color: silver;
            }
            color: aliceblue;
            grid-column-start: 1;
            grid-column-end: 5;
        }
    }
    @media screen and (max-width: 720px) {
        width: 100%;
        height: 100%;
        background: $cmc;
        grid-auto-rows: minmax(100px, auto);
        #image {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            img {
                user-select: none;
                width: 100%;
                border-bottom-right-radius: 25px;
            }
        }
        #name {
            ::before{
                content: 'Имя: ';
                font-size: 0.5em;
                color: silver;
            }
            grid-column-start: 3;
            grid-column-end: 5;
            color: aliceblue;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .indicators {
            font-size: 0.7em;
            color: aliceblue;
            margin-left: 5%;
            grid-column-start: 3;
            grid-column-end: 5;
        }
        #bio {
            ::before{
                content: 'Био: ';
                font-size: 0.5em;
                color: silver;
            }
            color: aliceblue;
            grid-column-start: 1;
            grid-column-end: 5;
        }
    }
}

#profile{
    width: 100%;
    background-color: rgb(138, 116, 138);
    @media screen and (max-width: 799px) {

    }
    @media screen and (min-width: 800px) {
        
    }
}

#groups {
    a {
        text-decoration: none;
    }
    margin-top: 1px;
    border-radius: 25px;
    border-start-start-radius: -25px;
    background-color: rgb(59, 78, 105);
    input {
        width: 45%;
        padding: 1%;
        text-align: center;
        border-radius: 5px;
        border: none;
    }
    .title {
        margin: 1%;
        margin-left: 2%;
        font-size: 1em;
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
    }
    #name {
        margin-left: 5%;
    }
    #file {
        display: none;
    }
    #file_label {
        float: left;
        display: block;
        margin-left: 5%;
        margin-top: 1%;
        font: 0.7em sans-serif;
        color: silver;
        text-align: center;
        padding: 2%;
        background-color: white;
        border: none;
        border-radius: 5px;
        width: 45%;
    }
    #file_label:hover {
        background-color: snow;
    }
    #btn_create {
        margin-left: 1%;
        margin-top: 1%;
        border-radius: 5px;
        border: none;
        font-size: 0.7em;
        color: silver;
        width: 45%;
        padding: 2%;
    }
    #group_list {
        display: inline-grid;
    }
    .group {
        border-bottom: 1px solid silver;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        img {
            margin-top: 10%;
            margin-left: 10%;
            width: 80%;
            height: 80%;
            border: none;
            border-radius: 50%;
        }
        p {
            grid-column-start: 2;
            grid-column-end: 5;
            font-size: 1em;
            font-weight: bold;
            color: white;
        }
    }
}

#profile_edit {
    #image{
        img {
            width: 100%;
        }
        #select_photo {
            display: none;
        }
    }
    #data {
        input {
            margin-top: 1%;
            margin-left: 5%;
            width: 90%;
            border: none;
            border-radius: 10px;
        }
        #save button{
            margin-top: 2%;
            margin-left: 23%;
            width: 50%;
            padding: 3%;
            font-family: 'Nurito';
            font-size: 0.7em;
            font-weight: bold;
            color: aqua;
            background-color: $cmc;
            border: none;
            border-radius: 5px;
        }
        #save button:hover {
            font-size: 1em;
        }
    }
}