@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media screen and (min-width: 720px) {
  body {
    margin-left: 30%;
    width: 40%;
    border-left: 3px solid #eecfe3;
    border-right: 3px solid #eecfe3;
  }
}
#app_enter {
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #eecfe3;
}
#app_enter a {
  text-decoration: none;
}
#app_enter #ourchat {
  margin-left: 1%;
  font-family: "Nunito";
  color: #27506b;
  font-weight: bold;
}
#app_enter #enter {
  float: right;
  font-size: smaller;
  border-radius: 5px;
  color: #27506b;
  margin-right: 1%;
}
#app_enter #enter:hover {
  transition: all 0.5s;
  border: 1px solid #eecfe3;
}

#form-login {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 720px) {
  #form-login #action {
    font-family: "Nurito";
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.3em;
  }
  #form-login form {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  #form-login .label {
    margin-left: 11%;
    font-family: "Nurito";
    font-size: 0.7em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #form-login .form_input {
    padding: 2%;
    margin-left: 11%;
    margin-bottom: 1%;
    width: 80%;
    border: 1px solid #27506b;
    border-radius: 5px;
  }
  #form-login .btn_enter {
    margin-top: 2%;
    margin-left: 25%;
    width: 210px;
    height: 40px;
    color: #27506b;
    border: 1px solid #27506b;
    border-radius: 5px;
    font-family: "Nurito";
    font-size: large;
  }
  #form-login .btn_enter:hover {
    color: #eecfe3;
    background-color: #27506b;
    transition: all 0.1s;
  }
  #form-login #remember {
    font-size: 0.7em;
    padding: 2%;
  }
  #form-login .reset_password {
    margin-top: 5%;
    margin-right: 3%;
    font-size: 0.7em;
    color: #27506b;
    float: right;
    text-decoration: none;
  }
}
@media screen and (max-width: 720px) {
  #form-login #action {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 40%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2em;
    font-family: serif;
  }
  #form-login form {
    display: block;
    width: 100%;
  }
  #form-login .label {
    margin-left: 11%;
    font-family: "Nurito";
    font-size: 0.7em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #form-login .form_input {
    padding: 2%;
    margin-left: 11%;
    margin-bottom: 1%;
    width: 80%;
    border: 1px solid #27506b;
    border-radius: 5px;
  }
  #form-login .btn_enter {
    margin-top: 2%;
    margin-left: 25%;
    width: 210px;
    height: 40px;
    color: #27506b;
    border: 1px solid #27506b;
    border-radius: 5px;
    font-size: large;
    font-family: "Nurito";
  }
  #form-login .btn_enter:hover {
    color: #eecfe3;
    background-color: #27506b;
    transition: all 0.2s;
  }
  #form-login #remember {
    font-size: 0.7em;
    padding: 2%;
  }
  #form-login .reset_password {
    margin-top: 5%;
    margin-right: 3%;
    font-size: 0.7em;
    color: #27506b;
    float: right;
    text-decoration: none;
  }
}

#show_profile {
  font-family: "Nurito";
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 720px) {
  #show_profile {
    width: 100%;
    height: 100%;
    background: #27506b;
    grid-auto-rows: minmax(100px, auto);
  }
  #show_profile #image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
  #show_profile #image img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    border-bottom-right-radius: 5px;
  }
  #show_profile #name {
    grid-column-start: 3;
    grid-column-end: 5;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #show_profile #name ::before {
    content: "Имя: ";
    font-size: 0.5em;
    color: silver;
  }
  #show_profile .indicators {
    font-size: 0.7em;
    color: aliceblue;
    margin-left: 5%;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #show_profile #bio {
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  #show_profile #bio ::before {
    content: "Био: ";
    font-size: 0.5em;
    color: silver;
  }
}
@media screen and (max-width: 720px) {
  #show_profile {
    width: 100%;
    height: 100%;
    background: #27506b;
    grid-auto-rows: minmax(100px, auto);
  }
  #show_profile #image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
  #show_profile #image img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    border-bottom-right-radius: 25px;
  }
  #show_profile #name {
    grid-column-start: 3;
    grid-column-end: 5;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  #show_profile #name ::before {
    content: "Имя: ";
    font-size: 0.5em;
    color: silver;
  }
  #show_profile .indicators {
    font-size: 0.7em;
    color: aliceblue;
    margin-left: 5%;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #show_profile #bio {
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  #show_profile #bio ::before {
    content: "Био: ";
    font-size: 0.5em;
    color: silver;
  }
}

#profile {
  width: 100%;
  background-color: #8a748a;
}
#groups {
  margin-top: 1px;
  border-radius: 25px;
  border-start-start-radius: -25px;
  background-color: #3b4e69;
}
#groups a {
  text-decoration: none;
}
#groups input {
  width: 45%;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  border: none;
}
#groups .title {
  margin: 1%;
  margin-left: 2%;
  font-size: 1em;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
#groups #name {
  margin-left: 5%;
}
#groups #file {
  display: none;
}
#groups #file_label {
  float: left;
  display: block;
  margin-left: 5%;
  margin-top: 1%;
  font: 0.7em sans-serif;
  color: silver;
  text-align: center;
  padding: 2%;
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 45%;
}
#groups #file_label:hover {
  background-color: snow;
}
#groups #btn_create {
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 5px;
  border: none;
  font-size: 0.7em;
  color: silver;
  width: 45%;
  padding: 2%;
}
#groups #group_list {
  display: inline-grid;
}
#groups .group {
  border-bottom: 1px solid silver;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#groups .group img {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 50%;
}
#groups .group p {
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

#profile_edit #image img {
  width: 100%;
}
#profile_edit #image #select_photo {
  display: none;
}
#profile_edit #data input {
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
  border: none;
  border-radius: 10px;
}
#profile_edit #data #save button {
  margin-top: 2%;
  margin-left: 23%;
  width: 50%;
  padding: 3%;
  font-family: "Nurito";
  font-size: 0.7em;
  font-weight: bold;
  color: aqua;
  background-color: #27506b;
  border: none;
  border-radius: 5px;
}
#profile_edit #data #save button:hover {
  font-size: 1em;
}
